@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at center, #1f1f22 0%, #000000 100%);
  color: #fff;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}